
<div class="container-fluid cover-container">
	
	<br />
	<h1 class="brand cover-heading text-center">Peaches & Clean Residential and Commercial Cleaning
Services</h1>
	<br />
	
	<div class="container">
  	<div class="row">
    	<div class="col-sm-4">
      	<h3 class="text-center"><%= image_tag("cleaning.png", :alt => "cleaning glyphicon") %> Expertise</h3>
      	<p class="text-center">Over 20 years of experience in the field</p>
    	</div>
    	<div class="col-sm-4">
      	<h3 class="text-center"><%= image_tag("glyphicons-500-family.png", :alt => "family glyphicon") %> Tradition</h3>
    		<p class="text-center">Family owned and operated small business</p>
    	</div>
    	<div class="col-sm-4">
    		<h3 class="text-center"><%= image_tag("glyphicons-478-hygiene-kit.png", :alt => "supplies glyphicon") %> Independent</h3>
      	<p class="text-center">We supply our own cleaning supplies and equipment</p>
    	</div>
  	</div><!-- /.row -->
		<br />

  	<div class="row">
    	<div class="col-sm-4">
      	<h3 class="text-center"><%= image_tag("glyphicons-619-mixed-buildings.png", :alt => "mixed buildings glyphicon") %> Versatile</h3>
      	<p class="text-center">We offer residential and commercial cleaning services</p>
    	</div>
    	<div class="col-sm-4">
      	<h3 class="text-center"><%= image_tag("glyphicons-649-important-day.png", :alt => "calendar glyphicon") %> Flexible</h3>
    		<p class="text-center">We're available daily, weekly, monthly, on-call, one-time, emergency, nights, weekends, and holidays</p>
    	</div>
    	<div class="col-sm-4">
    		<h3 class="text-center"><%= image_tag("glyphicons-443-earphone.png", :alt => "phone handset glyphicon") %> Efficient</h3>
      	<p class="text-center">Free estimates available over the phone</p>
    	</div>
  	</div><!-- /.row -->
	</div>
	<br />
<br />
  <p class="lead text-center">
  	<a href="tel:6612413335" class="btn btn-lg btn-outline-inverse home-button"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Us</a> Call for a free estimate or to schedule services.
  </p>
  <br />

</div>

